In [1]:
import pandas as pd 

# read csv file and store it in a variable
# df = data frame
#read_csv is a function
df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [7]:
df.shape  #shape is an attribute
#returns a tuple
df.shape
rows,col = df.shape
rows

6

In [10]:
#head() is a function
df.head(3) #returns first 3 rows

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [11]:
#tail() is a function
df.tail(2) #returns last 2 rows

        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [12]:
#slicing    
df[2:5] #returns rows from 2 to 4

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [17]:
#column
df.columns
df.event #returns event column
# df['event'] #returns event column

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [19]:
#printing multiple columns
df[['event','day']] #observe the double square brackets

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [21]:
df['temperature'].max() #returns max temperature
#more functions 
df['temperature'].mean()  #returns mean temperature
df['temperature'].std()   #returns standard deviation
df['temperature'].describe() #returns all the above functions

count     6.000000
mean     30.333333
std       3.829708
min      24.000000
25%      28.750000
50%      31.500000
75%      32.000000
max      35.000000
Name: temperature, dtype: float64

In [25]:
#querying
df[df.temperature >= 32] #returns rows with temperature greater than 32
df[df.temperature == df.temperature.max()]

#pringting only the data which satisfies this query
df['day'][df.temperature == df.temperature.max()]

#observe it almost looks like a 2d array
df[['day','temperature']][df.temperature == df.temperature.max()]

        day  temperature
1  1/2/2017           35

In [26]:

df.index #returns index

RangeIndex(start=0, stop=6, step=1)

In [30]:
df.set_index('day') #sets day as index
#it does not create a new dataframe 
#to make a new dataframe
# df.set_index('day',inplace=True)
# or assign df.set_index('day') to a new variable

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [31]:
df.set_index('day',inplace=True)
#inplace=True makes the changes permanent
# df.set_index('day',inplace=True) is same as df = df.set_index('day')
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [32]:
#reset index
df.reset_index(inplace=True)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny