In [5]:
import pandas as pd 

#read_excel() method is used to read the excel file in python
df = pd.read_excel('weather_data.xlsx')
df

#if there are multiple sheets in the excel file then we can specify the sheet name
df = pd.read_excel('weather_data.xlsx', sheet_name='Sheet1')
df

#sheet_name is an optional parameter, if we don't specify the sheet name then it will read the first sheet

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [9]:
#creating a dataframe from a dictionary
weather_data = {
    'day':['1/1/2017', '1/2/2017', '1/3/2017'],
    'temperature':[32, 35, 28],
    'windspeed':[6, 7, 2],
    'event':['Rain', 'Sunny', 'Snow']
}

df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [10]:
#creating a dataframe from a tuple
weather_data = [
    ('1/1/2017', 32, 6, 'Rain'),
    ('1/2/2017', 35, 7, 'Sunny'),
    ('1/3/2017', 28, 2, 'Snow')
]
#while creating a dataframe from a tuple we need to specify the column names
df = pd.DataFrame(weather_data, columns=['day', 'temperature', 'windspeed', 'event'])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow