In [6]:
import pandas as pd

temperature_df = pd.DataFrame({
    'city': ['mumbai', 'delhi', 'bangalore','nashik'],
    'temperature': [32, 45, 30,26],
}, index=[0, 1, 2,3])

windspeed_df = pd.DataFrame({
    'city' :['mumbai', 'delhi', 'bangalore', 'pune'],
    'windspeed': [7, 12, 9, 8],
}, index=[0, 1, 2,3])

In [7]:
df = pd.merge(temperature_df, windspeed_df, on='city')
df 

#only common rows are merged
# inner join is default
# outer join will give all rows

        city  temperature  windspeed
0     mumbai           32          7
1      delhi           45         12
2  bangalore           30          9

In [8]:
df2 = pd.merge(temperature_df, windspeed_df, on='city', how='outer' , indicator=True)
df2

#left join
#right join

#indicator flag

        city  temperature  windspeed      _merge
0     mumbai         32.0        7.0        both
1      delhi         45.0       12.0        both
2  bangalore         30.0        9.0        both
3     nashik         26.0        NaN   left_only
4       pune          NaN        8.0  right_only