In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'A': ['dog', 'cat', 'dog', 'bird', 'cat', 'bird', 'dog', 'cat'],
    'B': ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three']
})

print("Original DataFrame:")
print(df)

Original DataFrame:
      A      B
0   dog    one
1   cat    one
2   dog    two
3  bird  three
4   cat    two
5  bird    two
6   dog    one
7   cat  three

In [4]:
df.value_counts()

A     B
dog   one      2
bird  three    1
      two      1
cat   one      1
      three    1
      two      1
dog   two      1
Name: count, dtype: int64

In [3]:
# Convert categorical variable into dummy/indicator variables
df_dummies = pd.get_dummies(df, prefix=['col_A', 'col_B'])

print("\nDataFrame after get_dummies:")
print(df_dummies)

DataFrame after get_dummies:
   col_A_bird  col_A_cat  col_A_dog  col_B_one  col_B_three  col_B_two
0       False      False       True       True        False      False
1       False       True      False       True        False      False
2       False      False       True      False        False       True
3        True      False      False      False         True      False
4       False       True      False      False        False       True
5        True      False      False      False        False       True
6       False      False       True       True        False      False
7       False       True      False      False         True      False

In [6]:
#values are in true false
#lets convert them into binary(o and 1)
df_dummies = df_dummies.astype(int)
df_dummies

   col_A_bird  col_A_cat  col_A_dog  col_B_one  col_B_three  col_B_two
0           0          0          1          1            0          0
1           0          1          0          1            0          0
2           0          0          1          0            0          1
3           1          0          0          0            1          0
4           0          1          0          0            0          1
5           1          0          0          0            0          1
6           0          0          1          1            0          0
7           0          1          0          0            1          0